{% extends "server/index.html" %}

{% block head %}
{% endblock %}

{% block body %}
{% if ret %}
<div class="message">{{ ret|safe|escape }}</div>
{% endif %}
<div class="box">
<FORM action={{ url }} method=POST>
    <table id="login">
        <tr>
            <td>User: </td>
            <td><input type=text name='user'></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="passwd"></td>
        </tr>
        <tr>
            <td>Remember: </td>
            <td><input type="checkbox" name="remember"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=submit value=LOGIN></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=text hidden=true value="{{ next }}" name="next"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type=text hidden=true value="{{ data }}" name="data"></td>
        </tr>
    </table>
</form>
</div>
{% endblock %}
