{% if pape_request %}
  {% if pape_request.preferred_auth_policies %}
    <div class="message">
    请求使用了以下PAPE Policies：
      <ul>
      {% for uri in pape_request.preferred_auth_policies %}
      <li>{{ uri }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if pape_request.preferred_auth_level_types %}
    <div class="message">
    请求使用了以下授权等级类型：
      <ul>
      {% for uri in pape_request.preferred_auth_level_types %}
      <li>{{ uri }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}
