{% extends "server/index.html" %}

{% block body %}

{% ifequal trust_root_valid "Valid" %}
  <!-- Trust root has been validated by OpenID 2 mechanism. -->
  <div class="message">站点<tt>{{ trust_root|escape }}</tt>请求验证你的OpenID。</div>
  {% include "server/pape_request_info.html" %}
{% endifequal %}

{% ifequal trust_root_valid "Invalid" %}
<div class="error">
  <p>
    来自站点{{ trust_root|escape }}请求授权，但是服务端认为这是一个
    <em>包含虚假信息</em>的授权请求，如果你同意请求，则可能造成信息泄漏。
  </p>
  <p>
    请联系<em>真实的</em> {{ trust_root|escape }} 
    告诉他们有人想获得你的个人信息。
  </p>
</div>
{% endifequal %}

{% ifequal trust_root_valid "Unreachable" %}
  <div class="message">
    站点<tt>{{ trust_root|escape }}</tt>请求验证你的OpenID。站点无法被反向查询到，也许这是你内网的一个站点。
  </div>
{% endifequal %}

{% ifequal trust_root_valid "DISCOVERY_FAILED" %}
  <div class="message">
    站点<tt>{{ trust_root|escape }}</tt>请求验证你的OpenID.
    但是呢，站点<tt>{{ trust_root|escape }}</tt>没有实现OpenID2.0的Relying Party验证机制，
    你就注意点，问问<tt>{{ trust_root|escape }}</tt>未来啥时候实现。
  </div>
  {% include "server/pape_request_info.html" %}
{% endifequal %}

<!-- trust_root_valid is {{ trust_root_valid }} -->

<div class="box">
<form method="post" action="{{ trust_handler_url }}">
  <h2>是否授权？</h2>
  <input type="submit" value="永久授权" name="allow" />
  <input type="submit" value="拒绝授权" name="cancel" />
</form>
</div>

{% endblock %}
