<html>
  <head>
    <title>Douban统一账号认证平台客户端认证平台</title>
    <style type="text/css">
    div.message {
        background: #9f9;
        padding: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border: 1px solid #555;
        font-weight: bold;
    }

    div.error {
        background: #f99;
        padding: 0.5em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        border: 1px solid #555;
        font-weight: bold;
    }

    div.box {
        background: #eee;
        border: 1px solid black;
        padding: 1em;
    }
    </style>
  </head>
  <body>

  <div class="box">

  <p>
    请输入您的OpenID：
  </p>

  {% if error %}
    <div class="error">{{ error|escape }}</div>
  {% endif %}

  {% if url %}
    <div class="message">
      OpenID 验证成功; 你的身份为<a href="{{ url }}">{{ url|escape }}</a>.

      <p>
      {% if sreg %}
        注册信息：

        <ul>
        {% for pair in sreg %}
          <li>{{ pair.0 }}: {{ pair.1 }}</li>
        {% endfor %}
        </ul>
      {% else %}
        服务端未返回任何注册信息：
      {% endif %}

      {% if ax %}
        服务端返回额外信息：

        <ul>
        {% for pair in ax %}
        <li>{{ pair.0 }}: {{ pair.1|join:", " }}</li>
        {% endfor %}
        </ul>
      {% else %}
        服务端未返回任何额外信息。
      {% endif %}

      {% if pape %}
        服务端返回的验证策略数据：
        <ul>
          {% for uri in pape.auth_policies %}
            <li><tt>{{ uri }}</tt></li>
          {% endfor %}
        </ul>
      {% else %}
        服务端未返回任何额外验证策略数据。
      {% endif %}
      </p>
    </div>
  {% endif %}

  {% if message %}
    <div class="message">
      {{ message|escape }}
    </div>
  {% endif %}

  {% if failure_reason %}
    <div class="error">
      {{ failure_reason|escape }}
    </div>
  {% endif %}

  <form method="post" action="{{ consumer_url }}">
    <table>
      <tr>
        <td><label for="openid_identifier">完整OpenID：</label></td>
        <td><input type="text" size="40" name="openid_identifier" /></td>
      <tr>
      <tr>
        <td><label for="sub_identifier">Username:</label></td>
        <td><input type="text" size="40" name="sub_identifier" /></td>
      </tr>
    </table>

    <p>
    请求以下验证策略：
      (<a href="http://openid.net/specs/openid-provider-authentication-policy-extension-1_0-02.html">PAPE</a>):

    <table>
      {% for pair in pape_policies %}
      <tr>
        <td><input type="checkbox" name="policy_{{ pair.0 }}" id="id_policy_{{ pair.0 }}" /></td>
        <td>
          <label for="id_policy_{{ pair.0 }}"><tt>
            {{ pair.1 }}
          </tt></label>
        </td>
      </tr>
      {% endfor %}
    </table>
    </p>

    <input type="submit" value="Begin" />
  </form>

  </div>

  </body>
</html>
